<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css"/>
</head>
<body>
    <div class="container">
        <h2>Shipping information</h2>
        <form method="post">
            <div class="form-group">
                <label for="name">Name</label>
                <input class="form-control" id="name" name="name" placeholder="Name">
            </div>
            <div class="form-group">
                <label for="e-mail">E-mail address</label>
                <input class="form-control" id="e-mail" name="e-mail" placeholder="E-mail address">
            </div>
            <div class="form-group">
                <label for="phone-number">Phone number</label>
                <input class="form-control" id="phone-number" name="phone-number" placeholder="Phone number">
            </div>
            <div class="form-group">
                <label for="billing-address">Billing address</label>
                <input class="form-control" id="billing-address" name="billing-address" placeholder="Billing address">
            </div>
            <div class="form-group">
                <label for="shipping-address">Shopping address</label>
                <input class="form-control" id="shipping-address" name="shipping-address" placeholder="Shipping address">
            </div>
            <input class="btn btn-success" type="submit" value="Checkout">
        </form>
    </div>
</body>
</html>