<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checkout</title>
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css"/>
</head>
<body>
    <div>
        <form method="post">
            <label for="name">Name</label>
            <input id="name" name="name" placeholder="Name">
            <label for="e-mail">E-mail address</label>
            <input id="e-mail" name="e-mail" placeholder="E-mail address">
            <label for="phone-number">Phone number</label>
            <input id="phone-number" name="phone-number" placeholder="Phone number">
            <label for="billing-address">Billing address</label>
            <input id="billing-address" name="billing-address" placeholder="Billing address">
            <label for="shipping-address">Shopping address</label>
            <input id="shipping-address" name="shipping-address" placeholder="Shipping address">
            <input type="submit" value="Checkout">
        </form>
    </div>
</body>
</html>