<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:include="header.html::header">
    <title id="pageTitle">Codecool Shop | Payment</title>
</head>

<body>
<div class="container">
    <div class="card text-center mt-5">
        <div class="card-header">
            User story for next week.
        </div>
        <div class="card-body">
            <h5 class="card-title">Your order has been sent. You can pay for it once we have implemented it.</h5>
        </div>
        <div class="card-footer text-muted">
            Sorry :(
        </div>
    </div>
</div>
</body>
</html>